md-card {
  margin: 16px;
  width: 230px;
}

img {
  max-width: 200px;
  padding: 0 20px
}

.mat-card-image {
  margin: 0;
}

.description {
  overflow: hidden;
  height: 16px;
  word-break: break-all;
}
md-card-subtitle {
  a:not(:first-of-type) {
    margin-left: 10px;
  }
}

