<md-card>
  <md-card-header>
    <md-card-title [innerText]="book.bookName"></md-card-title>
    <md-card-subtitle>
      <a *ngFor="let author of book.authors" [innerText]="author.name"></a>
    </md-card-subtitle>
    <md-card-subtitle>
      <a *ngFor="let category of book.categories" [innerText]="category.name"></a>
    </md-card-subtitle>
  </md-card-header>
  <span><img md-card-image [src]="book.image"></span>
  <md-card-content class="description" [innerText]="book.description"></md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="editBook()" color="primary">Edit</button>
    <button md-button (click)="deleteBook()">Delete</button>
  </md-card-actions>
</md-card>
