<md-toolbar>
  <a routerLink="/org/home" class="logo">
    <b>Librarium </b>
    <i>organizations</i>
  </a>

  <span class="spacer"></span>
  <button md-button [mdMenuTriggerFor]="menu">
    <i class="material-icons">account_balance</i> {{loggedInOrgName}}
  </button>
  <md-menu
    #menu="mdMenu"
    xPosition="before"
    yPosition="below"
    [overlapTrigger]="false">
    <a md-menu-item routerLink="reserved">Reserved</a>
    <a md-menu-item routerLink="history">History</a>
    <button md-menu-item (click)="this.logOut()">Sign Out</button>
  </md-menu>
</md-toolbar>

<a md-button class="back-a"
   routerLink="/org/home/books"
   routerLinkActive="active-link">
  <i class="material-icons">home</i>
  <span class="back">Back to home</span>
</a>

<router-outlet></router-outlet>
