img{
  width: 200px;
  height: 300px;
  margin: 4px 0;
  padding: 0 50px;
}
.block-items {
  display: block;
}
.container {
  height: 100%;
  width: 100%;
}
a {
  &:not(:last-child):after {
    content: ', ';
  }
}
