<span class="container">
  <span md-dialog-title [innerText]="book.bookName"></span>

  <md-dialog-content>

    <img md-card-image [src]="book.image">

    <span class="block-items">Authors:
      <a *ngFor="let author of book.authors">{{author.name}}</a>
    </span>

    <span class="block-items">Categories:
      <a *ngFor="let category of book.categories">{{category.name}}</a>
    </span>

    <span >Edition year: {{book.editionYear}}</span>

    <p [innerText]="book.description"></p>
  </md-dialog-content>
</span>

