md-card {
  display: block;
  margin: 16px;
  height: 360px;
  width: 250px;
  padding: 32px 10px 0 10px;
}

img {
  height: 250px;
  padding: 10px auto;
}

md-card-actions {
  margin: 0 2px 0 32px;
}
