md-card {
  margin: 10px;
  display: inline-block;
  width: 200px;
  height: 350px;
  text-align: center;
}

img {
  display: inline-block;
  width: initial;
  margin: 10px auto;
}

.mat-card-image {
  margin: 0;
}
