:host {
  background-color: transparent;
  display: block;
  left: 0;
  position: relative;
  top: 0;

  md-dialog-container {
    box-sizing: border-box;
    display: block;
    margin: 70px auto 20px;
    padding: 48px 40px 30px;
    position: relative;
    width: 400px;

    > span {
      display: block;
      text-align: left;

      &.librarium {
        font-size: 20px;
      }
      &:not(.librarium) {
        font-size: 30px;
        margin: 20px 0 10px 0;
      }
    }
  }
}
