md-grid-tile {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
}
button {
  background-color: rgb(16,108,200);
  display: block;
  margin: 20px;
}
