<md-toolbar>
  <label>Librarium</label>
  <span class="spacer"></span>
  <span *ngIf="!isLoggedIn; else ngElse">
    <a md-button [routerLink]="['', { outlets: { account: ['login'] } }]" (click)="openAccountDialog()">Sign In</a>
    <a md-button [routerLink]="['', { outlets: { account: ['create'] } }]" (click)="openAccountDialog()">Sign Up</a>
  </span>
  <ng-template #ngElse>
    <button md-button [mdMenuTriggerFor]="menu"><i class="material-icons">person</i>{{this.loggedInUserName}}</button>
    <md-menu
      #menu="mdMenu"
      xPosition="before"
      yPosition="below">
      <a md-menu-item routerLink="reserved">Reserved</a>
      <a md-menu-item routerLink="history">History</a>
      <button md-menu-item (click)="this.signOut()">Sign Out</button>
    </md-menu>
  </ng-template>
</md-toolbar>
<router-outlet></router-outlet>
