.spacer {
  flex: 1 1 auto;
}
app-books {
  display: inline-block;
}
.back-a {
  display: block;
  margin: 16px;
}
i {
  margin: 0 16px;
}
.back {
  vertical-align: middle;
}
.active-link {
  display: none;
}
