md-toolbar {
  background-color: rgb(245, 245, 245);
}

.spacer {
  flex: 1 1 auto;
}

app-books {
  display: inline-block;
}

.back-a {
  display: block;
  text-align: left;
  padding: 16px 0;
}

i {
  margin: 0 5px 0 16px;
  opacity: 0.7;
}

.back {
  vertical-align: middle;
  font-size: 16px;
}

.active-link {
  display: none;
}

.logo {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 37px;
  text-decoration: none;
  color: white;

  i, b {
    bottom: 0;
    vertical-align: inherit;
    line-height: inherit;
    user-select: inherit;
    display: inline-block;
  }
}
