<md-toolbar color="primary">
  <a class="logo" href="">
    <i class="material-icons">account_balance</i>
    <b>Librarium</b>
  </a>
  <span class="spacer"></span>
  <span *ngIf="!isLoggedIn; else ngElse">
    <a md-button [routerLink]="['', { outlets: { account: ['login'] } }]" (click)="openAccountDialog()">Sign In</a>
    <a md-button
       [routerLink]="['', { outlets: { account: ['create'] } }]"
         (click)="openAccountDialog()">
      <b>Sign Up</b></a>
  </span>
  <ng-template #ngElse>
    <button md-button [mdMenuTriggerFor]="menu"><i class="material-icons">person</i>{{this.loggedInUserName}}</button>
    <md-menu
      #menu="mdMenu"
      xPosition="before"
      yPosition="below">
      <a md-menu-item routerLink="reserved">Reserved</a>
      <a md-menu-item routerLink="history">History</a>
      <button md-menu-item (click)="this.signOut()">Sign Out</button>
    </md-menu>
  </ng-template>
</md-toolbar>

<a md-button class="back-a"
   routerLink="/home/books"
   routerLinkActive="active-link">
  <i class="material-icons">home</i>
  <span class="back">Back to home</span>
</a>

<router-outlet></router-outlet>
