$bgColor: rgba(0, 14, 255, 0.11);
$textColor: #4285F3;

:host {
  background-color: $bgColor;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  overflow: scroll;

  span.body {
    background-color: transparent;
    display: block;
    left: 0;
    position: relative;
    top: 0;

    md-card {
      box-sizing: border-box;
      display: block;
      margin: 70px auto 20px;
      padding: 48px 40px 30px;
      position: relative;
      width: 400px;

      > span {
        display: block;
        text-align: left;

        &.librarium {
          font-weight: bold;
          color: $textColor;
          font-size: 20px;
        }
        &:not(.librarium) {
          font-size: 30px;
          margin: 20px 0 10px 0;
        }
      }
    }
  }
}
