$bgColor: rgba(43, 110, 255, 0.65);
$textColor: #0002ff;

:host {
  background-color: $bgColor;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  padding-top: 70px;
  position: absolute;
  top: 0;

  md-card {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 48px 40px 36px;
    position: relative;
    width: 405px;

    > span {
      &.librarium {
        color: $textColor;
        display: block;
        font-size: 20px;
        text-align: left;
      }
      &:not(.librarium) {
        display: block;
        font-size: 30px;
        text-align: left;
      }
    }
  }
}
