$bgColor: rgba(43, 110, 255, 0.65);
$textColor: #0002ff;

:host {
  background-color: $bgColor;
  display: flex;
  justify-content: space-between;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  padding-top: 70px;

  md-card {
    padding: 48px 40px 36px;
    margin: 0 auto 40px;
    box-sizing: border-box;
    display: block;
    position: relative;
    line-height: normal;
    width: 400px;

    > span {
      &.librarium {
        color: $textColor;
        display: block;
        font-size: 20px;
        text-align: left;
      }
      &:not(.librarium) {
        display: block;
        text-align: left;
        font-size: 30px;
      }
    }
  }
}
