<md-card>
  <md-card-header>
    <md-card-title>New Book</md-card-title>
  </md-card-header>

  <md-card-content class="image">
    <app-image-upload></app-image-upload>
  </md-card-content>

  <md-card-content>
  <md-input-container>
    <input mdInput placeholder="Book title" [(ngModel)]="book.bookName">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Edition year" [(ngModel)]="book.editionYear" type="number">
  </md-input-container>

  <md-input-container>
    <textarea mdInput placeholder="Description" [(ngModel)]="book.description" ></textarea>
  </md-input-container>

  </md-card-content>
  <md-card-actions>
    <button md-button [md-dialog-close]="book">Save</button>
    <button md-button [md-dialog-close]="null">Cancel</button>
  </md-card-actions>
</md-card>
<!--
authors: IAuthor[];
categories: ICategory[];
description: string;
image: string;
language?: string;
price?: number;
-->

