md-input-container, md-select {
  width: 100%;
  margin-top: 5px;
}
.image {
  border: 2px solid lightblue;
  margin: 0;
  padding: 32px 0;
  position: relative;
}
app-image-upload {
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
md-progress-bar {
  opacity: 0;
  color: #106cc8;

  &.progress-started {
    opacity: 1;
  }
}
md-select {
  margin: 15px 0;
}
