md-dialog-content {
  width: 300px;
}
md-input-container, md-select {
  width: 100%;
  margin-top: 5px;
}
.image {
  border: 2px solid lightblue;
  margin: 0;
  position: relative;
  height: 100px;
  width: 250px;
}
app-image-upload {
  height: 100px;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
md-progress-bar {
  opacity: 0;
  color: #106cc8;

  &.progress-started {
    opacity: 1;
  }
}
md-select {
  margin: 15px 0;
}
.new-author {
  width: 100%;
  padding: 4px;

}
