<md-card>
  <md-card-header>
    <md-card-title>New Book</md-card-title>
  </md-card-header>
  <img md-card-image [src]="book.image">
  <md-card-content>
  <md-input-container>
    <input mdInput placeholder="Book title" [(ngModel)]="book.bookName">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Edition year" [(ngModel)]="book.editionYear" type="number">
  </md-input-container>

  <md-input-container>
    <textarea mdInput placeholder="Description" [(ngModel)]="book.description" ></textarea>
  </md-input-container>

  </md-card-content>
  <md-card-actions>
    <button md-button>Save</button>
    <button md-button>Cancel</button>
  </md-card-actions>
</md-card>
<!--
authors: IAuthor[];
categories: ICategory[];
description: string;
image: string;
language?: string;
price?: number;-->
