<md-card-content>
  <form #loginForm="ngForm">
    <md-input-container>
      <input mdInput placeholder="Login" [(ngModel)]="loginData.login" name="login" required/>
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" placeholder="password" [(ngModel)]="loginData.password" name="password" required/>
    </md-input-container>
  </form>
</md-card-content>
<md-card-actions>
  <button md-button [disabled]="!loginForm.form.valid" (click)="login()">Log In User</button>
</md-card-actions>
