<md-dialog-content>
  <form #loginForm="ngForm">

    <md-input-container color="accent">
      <input mdInput placeholder="Login"
             [(ngModel)]="loginData.login"
             name="login"
             required />
    </md-input-container>

    <md-input-container color="accent">
      <input mdInput
             type="password"
             placeholder="password"
             [(ngModel)]="loginData.password"
             name="password" required />
    </md-input-container>

    <md-dialog-actions>
      <button md-raised-button
              color="accent"
              [disabled]="!loginForm.form.valid"
              (click)="login()">
        Log In User
      </button>
    </md-dialog-actions>
  </form>
  <md-error *ngIf="errorMsg" [innerText]="errorMsg"></md-error>
</md-dialog-content>

