<md-card-content>
  <form #loginForm="ngForm">

    <md-input-container>
      <input mdInput placeholder="Library Name" [(ngModel)]="data.name" name="name" required>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Login" [(ngModel)]="data.login" name="login" required />
    </md-input-container>

    <md-input-container>
      <input mdInput type="password" placeholder="Password" [(ngModel)]="data.password" name="password" required />
    </md-input-container>

    <md-input-container>
      <input mdInput type="email" placeholder="Email" [(ngModel)]="data.email" name="email" required />
    </md-input-container>

    <md-select placeholder="Country" [(ngModel)]="data.countryId" name="country" ngDefaultControl>
      <md-option *ngFor="let country of countries" [value]="country.countryId" [innerText]="country.name"></md-option>
    </md-select>

    <md-input-container>
      <input mdInput placeholder="Address" [(ngModel)]="data.address" name=" address" required />
    </md-input-container>

    <md-input-container>
      <input mdInput type="tel" placeholder="Telephone" [(ngModel)]="data.telephone" name="telephone" required />
    </md-input-container>
  </form>
</md-card-content>
<md-card-actions>
  <button md-button [disabled]="!loginForm.form.valid" (click)="createOrg()">Create Library</button>
</md-card-actions>








