<md-card-content>
  <form #loginForm="ngForm">
    <md-input-container>
      <input mdInput placeholder="name" [(ngModel)]="data.name" name="name" >
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Login" [(ngModel)]="data.login"  name="nickname" required>
    </md-input-container>

    <md-input-container>
      <input mdInput type="password" placeholder="password"  [(ngModel)]="data.password" name="password" required>
    </md-input-container>

    <md-input-container>
      <input mdInput type="email" placeholder="email" [(ngModel)]="data.email" name="email" required>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="country" [(ngModel)]="data.country" name="country" >
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="address"  [(ngModel)]="data.address" name=" address" required>
    </md-input-container>

    <md-input-container>
      <input mdInput type="tel" placeholder="telephone" [(ngModel)]="data.telephone"  name="telephone" required>
    </md-input-container>
  </form>
</md-card-content>
<md-card-actions>
  <button md-button [disabled]="!loginForm.form.valid" (click)="createOrg()">Create Library</button>
</md-card-actions>







