:host {
  box-sizing: border-box;
    .md-input-container {
    display: block;
    }
}
button {
  background-color: rgb(16,108,200);
}
md-input-container {
  width: 100%;
}
md-card-content {
  margin: 16px 0;
}
md-card-actions {
  margin: 0;
}
